@import "tailwindcss";

/* Global scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
    /* Vertical scrollbar width */
    height: 8px;
    /* Horizontal scrollbar height */
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #270442c1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #270442c1;
}